/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS file within this directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the top of the
* compiled file, but it's generally better to create a new file per style scope.
*
*= require main
*= require mobile
*= require_self
*/
.navbar {
    background-color: #ABBF78;
}

h1 {
    font-size: 1.5em;
}

@media (min-width: 600px) {
    h1 {
        font-size: 3vw;
        font-weight: 100;
    }
}